html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-body .mdl-layout__header-row {
  padding-left: 40px;
}

.mdl-body .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}

.mdl-body .mdl-layout__tab-bar-button {
  display: none;
}

.mdl-body .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}

.mdl-body .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-body .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}

.mdl-body .mdl-layout__tab-bar-container {
  height: 64px;
}

.mdl-body .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.mdl-body .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.mdl-body .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

.mdl-body main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

.panels {
  background: #ffffff;
}

.panels md-tabs {
  background: #303FA0;
}

.panels md-tab {
  color: #ffffff;
}

.panels md-tabs .md-view {
  background: #ffffff;
}

.panels .collection-text {
  margin-bottom: 32px;
  height: 500px;
  overflow: scroll;
}

#content-container {
  background: #ffffff;
}

.panels .md-button {
  display: block;
}

.panels .title {
  margin-top: 25px;
  padding-top: 8px;
  padding-right: 8px; 
  text-align: left;
  text-transform: uppercase;
}

.panels [layout-align] > * {
  margin-left: 8px;
}

.panels form > [layout] > * {
  margin-left: 8px;
}

.panels .long > input {
  width: 250px;
}

#submit-button {
  max-height: 40px;
  margin-top: 20px;
  width: 80px;
}

#avatar {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.mdl-body .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-body section.section--center {
  max-width: 860px;
}

.mdl-body #features section.section--center {
  max-width: 620px;
}

.mdl-body section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl-body section > header > .material-icons {
  font-size: 3rem;
}

.mdl-body section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}

.mdl-body section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}

.mdl-body section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}

.mdl-body section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}

.mdl-body section .section__text a {
  text-decoration: none;
}

.mdl-body section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}

.mdl-body section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}

.mdl-body .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}

.mdl-body section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}

.mdl-body section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}

.mdl-body .mdl-layout__tab-panel:not(#dashboard) {
  background-color: white;
}

.mdl-body .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.mdl-body .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl-body .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl-body .mdl-menu__container {
  z-index: 99;
}
