<div ng-controller="AspectCtrl" layout="vertical" layout-padding>
  <div class="chart-title md-whiteframe-z2"><h2>Aspects</h2></div>
  <epoch-live-line id="aspectchart" chart-class="category10" chart-height="200" chart-data="realtimeLine" chart-stream="realtimeLineFeed" chart-axes="areaAxes" class="md-whiteframe-z1"></epoch-live-line>

  <div id="aspect" ng-model="aspect">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <p><i class="material-icons yellow">mood</i> {{aspect.positive || 0}} </p>
      </div>

      <div class="mdl-cell mdl-cell--4-col">
        <p><i class="material-icons blue">code</i>{{aspect.neutral || 0}}</p>
      </div>

      <div class="mdl-cell mdl-cell--4-col">
        <p><i class="material-icons red">mood_bad</i> {{aspect.negative || 0}}</p>
      </div>
    </div><!-- grid -->
  </div> <!-- result -->
</div> <!-- ChartCtrl -->